/* MAIN PAGE */

.container-1{

    padding-top: 75px;
}

.box{

    border: 2px solid rgb(107, 168, 15);
    background-color: rgb(0, 0, 0);
    height: 320px;
    margin: 50px;

}

.box:hover{

    box-shadow: 10px 10px 30px
}

.mtxt{


    text-align: center;
    color: rgb(238, 235, 235);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(41, 41, 41);
    
}



#last{


    padding-bottom: 100px;
}




.header{

    
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
    text-align: center;
    background-image:linear-gradient(rgb(7, 5, 105),rgb(51, 15, 179),rgb(48, 51, 207));
    font-family:'Times New Roman', Times, serif;

}


.planet{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:1000px;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;

}


.container{


    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
   

}

.row{


    padding-bottom: 60px;

}


.hr{

    border: 1.5px solid white;

}

.backbtn{


    
    width: 200px;
    height: 50px;
   
   
    

}


